{%extends 'base.html' %}

{% block title %}Cookfolio - Admin Dashboard{% endblock %}

{% block content %}
<section>
    <div class="container">
        <h1>Admin Dashboard</h1>
        <p>Welcome to the admin dashboard. Here you can manage users, recipes, and site settings.</p>
        <!-- Admin functionalities to beadded here -->
        <h2>Admin Support Messages</h2>
        <a href="{{ url_for('main.admin_view_support_messages') }}" class="btn btn-primary">View Support Messages</a>
    </div>
</section>
{% endblock %}