{%- extends "base.html" -%}

{% block title %}Forgot Password - Cookfolio{% endblock %}

{% block content %}
<section class="login-section">
    <div class="login-container">
        <div class="login-text">
            <h1>Forgot Password</h1>
            <p>Enter your email address and we'll send you a link to reset your password.</p>

            <form method="POST" action="{{ url_for('main.forgot_password') }}" class="login-form">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" placeholder="Enter your email" required>
                </div>
                <button type="submit" class="btn-primary">Reset Password</button>
            </form>
        </div>
        <div class="login-image">
            <picture>
                <source srcset="{{ url_for('static', filename='images/login-hero-image.webp') }}" type="image/webp">
                <source srcset="{{ url_for('static', filename='images/login-hero-image.png') }}" type="image/png">
                <img src="{{ url_for('static', filename='images/login-hero-image.png') }}" alt="Cookfolio login hero Image" class="page-picture">
            </picture>
        </div>
    </div>
</section>
{% endblock %}