{% extends 'base.html' %}

{% block title %}Cookfolio - Reset Password{% endblock %}

{% block content %}
<section class="login-section">
    <div class="login-container">
        <div class="login-text">
            <h1>Reset Password</h1>
            <p>Enter your new password below.</p>

            <!-- Reset password form -->
            <form method="POST" action="{{ url_for('main.reset_password', token=token) }}" class="login-form">
                <div class="form-group">
                    <label for="password">New Password:</label>
                    <div class="password-lock">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" id="password" name="password" placeholder="Enter your password" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirm Password:</label>
                    <div class="password-lock">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm password" required>
                    </div>
                </div>
                <button type="submit" class="btn-primary">Reset Password</button>
                <p class="register-login-text">Remembered your password? <a href="{{ url_for('main.login') }}">Log in</a>.</p>
            </form>
        </div>
        <div class="login-image">
            <picture>
                <source srcset="{{ url_for('static', filename='images/login-hero-image.webp') }}" type="image/webp">
                <source srcset="{{ url_for('static', filename='images/login-hero-image.png') }}" type="image/png">
                <img src="{{ url_for('static', filename='images/login-hero-image.png') }}" alt="Cookfolio login hero Image" class="page-picture">
            </picture>
        </div>
    </div>
</section>
{% endblock %}